@using BlazorApp2.Models
@inject NavigationManager navmag
@page "/broswernavigator"
@rendermode InteractiveServer

<h3>BroswerNavigator</h3>
<button class="btn btn-primary" @onclick="tornaindietro">Torna indietro</button>
<button class="btn btn-primary" @onclick="cancellacronologia">Cancella</button>
<button class="btn btn-primary" @onclick="mostradati">MostraDati</button>
<div class="mostra-dati">
    <h1>I tuoi dati salvati</h1>
    <p id="datilist">
        @listacronologia
    </p>
</div>
 @code 
{
    public Navigatore navigatore = new Navigatore();
    public Pagina pagina = new Pagina();
    public string listacronologia;

    private void tornaindietro()
    {
        pagina.SalvaTempoVisita((DateTime.Now.Subtract (pagina.oraAccesso)).Seconds);
        pagina.indirizzo = navmag.Uri.ToString();
        navigatore.paginaList.Add(pagina);
    }

    private void cancellacronologia()
    {
        navigatore.CancellaCronologia();
    }

    private void mostradati()
    {
        foreach (var item in navigatore.paginaList)
        {
            listacronologia += item.indirizzo; 
        }
    }
}